body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 20px;
}
/* Background image*/
body {
  background-image: url("./assets/judo2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

form {
  background-color: #111;
  padding: 20px;
  border-radius: 12px;
  width: 350px;
  border: 2px solid red;
}

h1 {
  color: red;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 10px;
}

h2 {
  color: red;
  margin-bottom: 5px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

/* CLASS NAMES */

.form-fields {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.form-input {
  width: 50%;
  padding: 10px;
  margin: 8px 0 16px 0;
  background-color: #222;
  border: 2px solid red;
  border-radius: 6px;
  color: white;
}

.mobile-display {
  width: 120px;
  float: left;
  border: 3px solid red;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.training-plan-wrapper {
  margin-bottom: 20px;
}

.radio-button-field {
  margin-top: 8px;
}

.radio-button-field label {
  font-weight: normal;
}

#submit-button {
  width: 100%;
  padding: 12px;
  background-color: red;
  color: black;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

#submit-button:hover {
  background-color: #cc0000;
}

.athlete-info {
  background-color: #111;
  padding: 20px;
  width: 350px;
  border-radius: 12px;
  border: 2px solid red;
}

.output-field {
  background-color: #222;
  padding: 15px;
  border-radius: 6px;
  border: 2px solid red;
  min-height: 100px;
}

hr {
  border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

/* This code allows website to move accordlingly to the device type*/
/* <600px,phone  768px, tablet 992px,laptos 1200px large monitors */

@media (max-width: 600px) {
  .wrapper-main {
    width: 100%;
  }
}
